body {
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #302727;
}

.navigation>li {
    float: left;
}

.navigation>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navigation>li a:hover {
    background-color: #111;
}

.banner {
    background-image: url("img/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 300px;
}

section {
    width: 30%;
    position: relative;
    float: left;
}

.news {
    width: 70%;
    max-width: 600px;
    text-align: justify;
    position: relative;
    float: left;
}

footer {
    padding: 0;
    background-color: #333;
    clear: both;
}

footer p {
    color: white;
    padding: 14px 16px;
    text-align: center;
}

footer img {
    width: 20px;
}

.articles img {
    max-width: 200px;
    display: inline-block;
    float: left;
    margin-right: 30px;
}

.articles article {
    display: inline-block;
    margin-bottom: 20px;
}

.articles-gallery figure {
    display: inline-block;
    float: left;
    border: 1px solid black;
    min-height: 230px;
    margin-right: 15px;
}

.articles-gallery figure img {
    max-width: 200px;
    display: inline-block;
    margin-right: 30px;
}

.articles-gallery a {
    display: block;
    text-decoration: none;
    color: black;
}

.news-articles {
    margin: 50px 50px;
    max-width: 800px;
    width: 80%;
    clear: both;
    margin: 0 auto;
    text-align: justify;
    position: relative;
    float: none;
}

hr {
    clear: both;
}

.form {
    max-width: 600px;
    margin: 0 auto;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: rgb(190, 16, 16);
    color: rgb(53, 51, 51);
    padding: 12px 12px;
    border: none;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.gallery {
    margin: 0 auto;
    max-width: 960px;
}

.gallery figure {
    display: inline-block;
    float: left;
    border: 1px solid black;
    min-height: 300px;
    margin-right: 15px;
    text-align: center;
    padding: 5px;
}

.gallery img {
    max-width: 250px;
}

.about {
    max-width: 960px;
    margin: 0 auto;
}